:root {
    --Background-Navegacao: #13161A;   
    --Background-Container-Pai:  #1C2025; 
    --Cor-Verde: #0BD793 ;
    --Cor-Vermelho: #ff4d4d ;
    --Cor-Verde-Escuro: #0F261E;
    --Cor-Cinza: #475566;
    --White: hsl(0, 0%, 90%);  
}

/* Começando aba de navegação  */
.Container-Navegacao {
    font-size: 1.6rem;
    display: flex;
    position: fixed;
    top: 0; bottom: 0;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: var(--Background-Container-Pai);
    /* height: 100vh; */
}

.subtitulo {
    font-style: italic;
    color: var(--Cor-Cinza);
}

nav {
    padding: 6.4rem 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

nav ul li {
    margin-bottom: 1.8rem;
}

.Aba-Navegacao {
    background-color: var(--Background-Navegacao);
    border-radius: 0.4rem;
    min-height: 100%;
    /* box-sizing: border-box; */
}

.btn-default.Ativo{
    background-color: var(--Cor-Verde-Escuro);
    border: 1px solid var(--Cor-Verde);
    color: var(--Cor-Verde);
}

/* Fim da aba de navegação  */

.Container-Cadastro {
    background-color: var(--Background-Container-Pai);
    width: 100%;   
    min-height: 100%;
    padding-bottom: 6.4rem;
    padding-left: calc(244px + 64px);
    padding-top: 6.4rem;
}

h1 {
    font-size: 4.2rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
}

h1 img {
    width: 4.4rem;
}

.row-1, .row-2,  .row-3{
    display: flex;
    gap: 1.8rem;
    padding-top: 3.2rem;
}

.row-3 {
    align-items: flex-end;
}
label {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.6rem;
    font-weight: medium;
}

input, select {
    font-size: 1.4rem;
    color: var(--Cor-Cinza);
    background-color: var(--Background-Navegacao);
    padding: 1.6rem;
    border: 1px solid var(--Background-Navegacao);
    border-radius: 0.4rem;
    outline: none;
    width: 280px;
    min-width: 192px;
}

.Input-Descricao{
    width: 360px;
}

input::placeholder {
    color: var(--Cor-Cinza);
}

input:focus {
    border: 1px solid var(--Cor-Verde);
    color: var(--White);
}

select:focus {
    border: 1px solid var(--Cor-Verde);
    color: var(--White);
}

.Select-Categoria option {
    color: var(--Cor-Cinza);
    padding: 1rem; 
}

.Select-Categoria option:hover {
    color: var(--Background-Container-Pai);
    background-color: #0BD793;
}

.Btn-Cadastro-Confirmar {
    font-size: 1.6rem;
    width: 180px;
    border-radius: 0.6rem;
    cursor: pointer;
    padding: 1.2rem 0px;
    height: 54.8px;
    background-color: var(--Cor-Verde);
    color: var(--Background-Container-Pai);

}

.Btn-Cadastro-Confirmar:hover {
    box-shadow: 0px 6px 16px hsl(160, 90%, 44%, 0.36);
    border: 1px solid var(--Cor-Verde);
}

.Btn-Cadastro-Cancelar {
    width: 10rem;
    height: 54.8px;
    padding: 1.2rem 0px;
    cursor: pointer;    
    background-color: var(--Background-Container-Pai);
    color: var(--Cor-Vermelho);
    border: 1px solid var(--Cor-Vermelho);
    border-radius: 0.6rem;
    margin-left: 1.6rem;
}


.Btn-Cadastro-Cancelar:hover {
    background-color: var(--Cor-Vermelho);
    color: var(--Background-Container-Pai);
}

/* HISTÓRICO DE DESPESAS */

.box-historico {
    margin-top: 6.4rem;
}

.container-historico {
    background-color: var(--Background-Navegacao);   
    border-radius: 0.6rem;
    display: inline-block;
    margin-bottom: 2.2rem;
}

.row-historico-1 {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    padding: 2.6rem 2.0rem ;
}

.icone-historico{
    background-color: var(--Background-Container-Pai);
    padding: 1rem;
    border-radius: 50%;
    width: 4.2rem;
}

.data-historico {
    background-color: var(--Cor-Verde-Escuro);
    border: 1px solid var(--Cor-Verde);
    padding: 0.6rem 1.2rem;
    border-radius: 64px;
    color: var(--Cor-Verde);
    box-shadow: 0px 0px 16px hsl(160, 90%, 44%, 0.36);
    font-size: 1.2rem;
}

.tipo-historico h3{
    color: var(--Cor-Cinza);
    font-size: 1.2rem;
}

.valor-historico h3{
    font-size: 1.2rem;
    color: var(--Cor-Cinza);
}

.tipo-historico p{
    font-size: 1.6rem;
}

.valor-historico p{
    font-size: 1.6rem;
}

.box-historico-descricao {
    display: flex;
    align-items: center;
    gap: 1.6rem; 
}

.box-historico-descricao::before {
    content: '';
    height: 3.2rem;
    width: 1px;
    background-color: #475566;
}

.box-historico-descricao h3 {
    font-size: 1.6rem;
    color: var(--Cor-Cinza);
}

.historico-descricao {
    font-size: 1.4rem;
    padding: 1rem;
    background-color: var(--Background-Container-Pai);
    border-radius: 0.4rem;
    max-width: 30rem;
    max-height: 4.2rem;
    overflow-y: auto;
    line-height: 1.8;
    overflow-x: hidden;
}

.historico-descricao::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--Cor-Cinza);
    border-radius: 0.8rem;
}

.historico-descricao::-webkit-scrollbar-thumb {
    background-color: var(--Cor-Verde);
    border-radius: 0.8rem;
}


.btn-editar-historico {
    border-radius: 0.6rem;
    color: #475566;
    cursor: pointer;
    padding: 1.2rem 0px;
    background-color: #1C2025;
    width: 7.8rem;
    margin-right: 1.6rem;
    border: none;
}

.btn-remover-historico {
    border-radius: 0.6rem;
    color: #475566;
    cursor: pointer;
    padding: 1.2rem 0px;
    background-color: #1C2025;
    width: 7.8rem;
    margin-right: 1.6rem;
    border: none;
}

/* FIM DO HISTÓRICO DE DESPESAS */
